*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    height: 160px;
}

.left{
    display: grid;
    width: 20%;
    height: auto;
    background-color: rgb(103, 223, 236);
}
.form{
    border-radius:20px; 
    background-color: #bbe05b; 
    height: 30px; 
    color: red; 
    padding-left: 50px;
}
.right{
    width: 80%;
    height: 100%;
}
.search{
    position: absolute;
    right: 100px;
    top: 90px;
    padding: 10px;
    border-radius: 20px;
}
.imgHeader{
    height:100%;
    width: 100%;
}
.content{
    text-align: center;
    height: 30px;
    background-color: yellow;
}

.body{
    display:flex;
}

.select{
    width: 25%;
    height: auto;
}

.select h3{
    height: 8%;
    text-align:center;
    background: pink; 
    margin: 0;
}

.select li{
    height: 48px;
    width: 100%;
    background-color:antiquewhite;
    list-style: none;
    text-align: center; 
    line-height: 48px;
}

.select li:hover{
    background: rgb(116, 210, 234);
    border: 1px solid red;
}

.main{
    width: 100%;
}

.main iframe{
    width: 100%;
    height: 100%;
    border: none;
    padding: 5% 10%;
}