.header{
    padding-top: 2px;
    margin: auto;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    background-color: gray;
}
.img{
    max-width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    float:left;
}
.mid{
    margin-top: 5px;
    
}
.btnLogin{
    background-color: blue;
    width: 300px; 
    height: 40px;
}
.btn{
    margin-left: 200px;
    background-color: gray;
}
.form-control{
    height: 30px;
    border: solid black 1px;
    width: 40%;
}
.main{
    display:flex; 
    border-bottom: solid black 1px;
}